@import "tailwindcss";

@font-face {
  font-family: "RomanticFont";
  src: url("./assets/fonts/KissingSeason.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chiptune";
  src: url("./assets/fonts/Chiptune.ttf") format("truetype");
}

@theme {
  --font-primary: RomanticFont;
  --font-secondary: Chiptune;
  --color-primarypink: #f9c5c8;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s infinite;
  font-weight: bold;
  margin-left: 2px; /* Adjust spacing */
}
